# quarld RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.quarlcoin
host=127.0.0.1

#mainnet default
port=9332

#testnet default
#port=19332

#regtest default
#port=19443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f1c00c19
genesis=facbbceb849f5a86c2e0e3fc3a4a2f13d738c613b7351e73a30449788d8a6ab3
input=/home/example/.quarlcoin/blocks

# testnet
#netmagic=0fc00c19
#genesis=d452b4a1dba9f5ddf1a1604b9c442f8a7399572d6a85fe36418795be027b8265
#input=/home/example/.quarlcoin/testnet/blocks

# regtest
#netmagic=fac00c19
#genesis=f9da40e3f68023e014478f93ebc52de356b9525055c3b5d2b61cc026e75035ef
#input=/home/example/.quarlcoin/regtest/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
